.img-box {  
    float: left;
    width: 100px;
    height: 100px;
    background-size: cover; 
}

.div-row{
  display:inline-block;
  width:100%;
  margin-bottom:2px;
}

.top-margin{
  margin-top:10px;
}
