<div class="main-container">

<H2>Dashboard</H2>
<div>
        <select   #selectedCategory class="ddl-category" (change)="modelChanged(selectedCategory.value)">
                <option disabled>Select Category</option>                
                <option *ngFor="let category of categoryList" [value]="category.id">{{category.name | titlecase }}</option>
        </select>
</div>
<div>
    <div *ngFor="let catDetail of catList">          
    <div>  
      <img src="{{catDetail.url}}" alt="{{catDetail.id}}" class="img-box"/>
    </div>
    </div>
  </div>
</div>